html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

div {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0 .75em .75em;
}

figure {
  width: 100px;
  text-align: center;
}

.column1 {
  background-color: #e2e2e2;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  float: left;
  height: 450px;
  width: 25%;
}

.column2 {
  background-color: #ccc;
  border-right: 1px solid #000;
  float: left;
  height: 450px;
  width: 25%;
}

.column3 {
  background-color: #aaa;
  border-right: 1px solid #000;
  float: left;
  height: 450px;
  width: 25%;
}

.column4 {
  background-color: #999;
  border-right: 1px solid #000;
  float: left;
  height: 450px;
  width: 25%;
}

h1 {
  font-size: 2rem;
  margin: 1.5rem;
  text-align: center;
}

div .img {
  display: block;
  padding: 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto 1.5rem;
  padding: 0;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: .2rem;
}

h3 {
  font-size: .875rem;
  font-style: italic;
  margin-bottom: 0;
  margin-top: .2rem;
}

p {
  margin-top: .2rem;
}

.btn {
  display: inline-block;
  padding: .51em .75em;
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  font-size: .875rem;
  margin: 0 .2rem 2rem;
  text-decoration: none;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
}
