html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  background-color: #f2f2f2;
}

img {
  width: 100px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: .875rem;
  font-style: italic;
}

.div1 {
  background-color: #e2e2e2;
}

.div2 {
  background-color: #ccc;
}

.div3 {
  background-color: #aaa;
}

.div4 {
  background-color: #999;
}

.btn {
  display: inline-block;
  padding: .51em .75em;
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  font-size: .875rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
}
